### Python artifacts
*.pyc
*.egg-info
dist/

### Editor and IDE artifacts
*~
*.swp
*.orig
/nbproject
.idea/
.redcar/
codekit-config.json
.pycharm_helpers/

### Testing artifacts
.coverage
var/

# virtualenvironment
venv/
