-r requirements.txt

django-nose==1.4.4
astroid==1.3.8  # Pinning to avoid backwards incompatibility issue with pylint/pylint-django
coveralls
mock
pep8
git+https://github.com/edx/django-pyfs.git@1.0.3#egg=django-pyfs==1.0.3
git+https://github.com/edx/edx-lint.git@v0.3.2#egg=edx_lint==0.3.2
git+https://github.com/edx/xblock-sdk.git#egg=xblock-sdk
