-r requirements.txt

django-nose==1.4.6
ddt
coveralls
mock
pep8
git+https://github.com/edx/django-pyfs.git@2.0#egg=django-pyfs==2.0
git+https://github.com/edx/edx-lint.git@1.4.0#egg=edx_lint==1.4.0
-e git+https://github.com/edx/xblock-sdk.git#egg=xblock-sdk
