{% load i18n %}
<div class="xblock-actions">
  <ul class="action-buttons action-buttons-left">
    <li class="action-item hidden">
      <a href="#" class="button previous-button secondary-button">{% trans "Previous" %}</a>
    </li>
  </ul>
  <ul class="action-buttons">
    <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
    </li>
    <li class="action-item">
      <a href="#" class="button next-button primary-button">{% trans "Next" %}</a>
    </li>
    <li class="action-item hidden">
      <a href="#" class="button save-button">{% trans "Save" %}</a>
    </li>
  </ul>
</div>
