{% load i18n %}
<div class="pgn__stepper-header">
    <ul class="pgn__stepper-header-step-list">
        <li class="pgn__stepper-header-step step-header-setup pgn__stepper-header-step-active">
            <a href="#" class="step-header-setup-link">
                <div class="pgn__bubble">
                    <span>1</span>
                </div>
                <div class="pgn__stepper-header-step-title-description">
                    <div class="pgn__stepper-header-step-title">{% trans "Setup" %}</div>
                </div>
            </a>
        </li>
        <li aria-hidden="true" class="pgn__stepper-header-line"></li>
        <li class="pgn__stepper-header-step step-header-advantage l1p3 no-external-config">
            <a href="#" class="step-header-advantage-link">
                <div class="pgn__bubble">
                    <span>2</span>
                </div>
                <div class="pgn__stepper-header-step-title-description">
                    <div class="pgn__stepper-header-step-title">{% trans "Advantage Settings" %}</div>
                </div>
            </a>
        </li>
        <li aria-hidden="true" class="pgn__stepper-header-line l1p3 no-external-config"></li>
        <li class="pgn__stepper-header-step step-header-review">
            <a href="#" class="step-header-review-link">
                <div class="pgn__bubble">
                    <span class="l1p1 external-config">2</span>
                    <span class="l1p3 no-external-config">3</span>
                </div>
                <div class="pgn__stepper-header-step-title-description">
                    <div class="pgn__stepper-header-step-title">{% trans "Review Options" %}</div>
                </div>
            </a>
        </li>
    </ul>
</div>
