<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>LTI</title>
    </head>
    <body>
        <p>
            <b>LTI 1.3 Launches can only be performed from the LMS.</b>
        </p>

        <p>
            The current implementation of the LTI 1.3 XBlock does not support
            <a href="http://www.imsglobal.org/lti-advantage-faq#what-is-LTI-Advantage">
                LTI Advantage services
            </a>.
            Therefore, there is no mechanism for LTI Tools to pass back grades.
        </p>

        <p>
            To set up the LTI integration, you need to register the LMS in the tool with the information provided below.
        </p>

        <p>
            <b>Client: </b>
            ${client_id}
        </p>

        <p>
            <b>Deployment ID: </b>
            ${deployment_id}
        </p>

        <p>
            <b>Keyset URL: </b>
            ${keyset_url}
        </p>

        <p>
            <b>OAuth Token URL: </b>
            ${token_url}
        </p>

        <p>
            <b>OIDC Callback URL: </b>
            ${oidc_callback}
        </p>
        <p>
            <b>Test LTI Launch: </b>

            <button
                onclick="window.open('${launch_preview_url}')"
                aria-disabled="false"
                title="LTI 1.3 Test Launch"
                type="button"
            >
                Test Launch
            </button> - The launch only works if the block is published.
        </p>
    </body>
</html>
