<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>LTI</title>
    </head>
    <body>
        <p>
            Ready to launch! Click the button bellow.
        </p>

        <form
            id="lti-launch"
            action="${launch_url}"
            method="post"
            encType="application/x-www-form-urlencoded"
        >
            % for param_name, param_value in launch_request.items():
                <input name="${param_name}" value="${param_value}" />
            % endfor

            <input type="submit" value="Press to Launch" />
        </form>
    </body>
</html>
