<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>LTI Deep Linking</title>
    </head>
    <body>
        <p>
            <b>The LTI Deep Linking content was successfully saved in the LMS.</b>
        </p>
        <p>
            This page will automatically close in a few seconds.
        </p>

        <script type="text/javascript">
            function closeWindow() {
               setTimeout(function() {
                window.close();
               }, 3000);
            };

            window.onload = closeWindow();
        </script>
    </body>
</html>
