<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ block.display_name }} | Deep Linking Contents</title>
    </head>
    <body>
        {% for item in content_items %}
            {% if item.content_type == 'link' %}
                {% include "html/lti-dl/render_link.html" with item=item attrs=item.attributes %}
            {% elif item.content_type == 'html' %}
                {% include "html/lti-dl/render_html.html" with item=item attrs=item.attributes %}
            {% elif item.content_type == 'image' %}
                {% include "html/lti-dl/render_image.html" with item=item attrs=item.attributes %}
            {% endif %}
        {% endfor %}
    </body>
</html>
