<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ block.display_name }} | Deep Linking Contents</title>
    </head>
    <body>
        {% for item in content_items %}
            <div>
                {% if item.content_type == 'ltiResourceLink' %}
                    {% include "html/lti-dl/render_lti_resource_link.html" with item=item attrs=item.attributes launch_data=launch_data %}
                {% elif item.content_type == 'link' %}
                    {% include "html/lti-dl/render_link.html" with item=item attrs=item.attributes %}
                {% elif item.content_type == 'html' %}
                    {% include "html/lti-dl/render_html.html" with item=item attrs=item.attributes %}
                {% elif item.content_type == 'image' %}
                    {% include "html/lti-dl/render_image.html" with item=item attrs=item.attributes %}
                {% endif %}
            </div>
            <br />
        {% endfor %}
    </body>
</html>
